{{#each this}}
<ul>
    <li>
        <img class="country__item--flag" src="{{flags.png}}" width="35px" alt="Flag of{{name.common}}" />
        <span class="country__item--name">{{name.common}}</span>
    </li>
    <li> <span class="country__cap">Capital:</span> {{capital}}</li>
    <li> <span class="country__pop">Population:</span> {{population}}</li>
    <li> <span class="country__lang">Languages:</span> {{#each languages}}{{this}} {{/each}}
        </li>
</ul>
{{/each}}